.app menu-item {
  padding: 0 40px;
  margin: 5px 10px;
  user-select: none;
  cursor: pointer;
  border: none;
}
.app menu-item-wrapper.active {
  border: 1px blue solid;
}
.app menu-item.active {
  border: 1px green solid;
}
 
.app scroll-menu-arrow {
  padding: 20px;
  cursor: pointer;
}
